@use "../globals/" as g;
@use "../util/" as u;
@use "../mixin/" as m;

section.hero {
  background-image: url("/images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
  @include u.breakpoint-up(small) {
    background-image: url("/images/desktop/image-hero.jpg");
  }
}
section.hero .hero-title {
  display: flex;

  @include u.breakpoint-up(small) {
    padding-inline: 0;
  }
}
section.hero .hero-title h1 {
  margin-top: u.rem(70);
  max-width: u.rem(500);
  padding: u.rem(15);
  font-size: u.rem(28);
  font-family: g.$ff-josefin;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  line-height: 1.1;
  color: hsl(var(--white));
  border: 2px solid hsl(var(--white));

  @include u.breakpoint-up(smallest) {
    margin-top: u.rem(100);
    padding: u.rem(18);
    font-size: u.rem(46);
  }

  @include u.breakpoint-up(small) {
    margin-top: u.rem(70);
    padding: u.rem(20);
    font-size: u.rem(46);
  }
  @include u.breakpoint-up(medium) {
    margin-top: u.rem(100);
    padding: u.rem(20);
    font-size: u.rem(52);
  }
}
